/* fonts */

@font-face {
  font-family: 'gilroy-bold';
  src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.woff) format('woff');
}

@font-face {
  font-family: 'gilroy-md';
  src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.woff) format('woff');
}

@font-face {
  font-family: 'wilkysta';
  src: local('wilkysta'), url(./fonts/wilkysta.ttf) format('ttf');
}

/*defaults*/

body {
  font-family: gilroy-md;
  background-color: var(--white);
  color: var(--black);
}

h1 {
  font-family: 'wilkysta';
}

.link {
  text-decoration: none;
  color: var(--black);
  background-color: transparent;
  padding: 1rem 2rem;
  font-family: 'gilroy-bold';
  transition: all 0.4s ease-in-out;
}

.link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*variables*/
/* TO USE: var(--name) */

:root {
  /*colors*/
  --black: #101010;
  --white: #f8f8f8;
  --gray: rgb(82, 82, 82);
  --moonstone: #779fa1;
  --jet: #41393e;
  --puce: #bd8b9c;
  --sunset: #efc88b;
  --vanilla: #f4e3b2;

  /*breakpoints*/
  --sm-screen: 576px;
  --md-screen: 768px;
  --lg-screen: 1024px;

  /*design details*/
  --br-1: 1rem;
  --br-2: 2rem;
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*typography*/
.heading_2 {
  font-size: 3rem;
  font-family: 'gilroy-bold';
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right bottom, var(--moonstone), var(--sunset));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading_3 {
  font-size: 2rem;
  font-family: 'gilroy-bold';
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right bottom, var(--moonstone), var(--sunset));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading_4 {
  font-size: 2rem;
  font-family: 'gilroy-bold';
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--white);
}

.heading_5 {
  font-size: 2rem;
  font-family: 'gilroy-bold';
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--black);
}

/*button */
.btn {
  padding: 1.5rem 3rem;
  background-color: var(--black);
  border-radius: var(--br-2);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-family: 'gilroy-bold';
  font-size: 1.6rem;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--moonstone);
  color: var(--black);
}

.border_gradiant {
  background: linear-gradient(#f8f8f8, #f8f8f8) padding-box, linear-gradient(to right, #779fa1, #efc88b) border-box;
  border-radius: 1rem;
  border: 2px solid transparent;
}

/*content margins*/
.featuredEventsContent,
.infoSection,
.infoCards,
.reviewsSectionContent {
  margin: 0 4rem;
}

/*navigation */
.navigation_icon {
  font-size: 3rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--br-2);
  padding: 0.5rem 0.8rem 0.2rem 0.8rem;
  position: absolute;
  z-index: 2;
  right: 2rem;
  top: 2rem;
  transition: all 0.4s ease-in-out;
  position: fixed;
}

.navBar_logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
  color: var(--moonstone);
  z-index: 1;
}

.body_scroll_lock {
  position: fixed;
}

.navigation_icon:hover {
  cursor: pointer;
  background-color: var(--moonstone);
  color: var(--black);
}

.fullscreen_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right bottom, #efc98b, #779fa1);
  z-index: 1;
}

.fullscreen_nav_items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  font-size: 3rem;
  line-height: 2.5;
  text-transform: uppercase;
}

.fullscreen_nav_items li {
  border-bottom: 3px solid transparent;
}

.fullscreen_nav_items li:hover {
  border-bottom: 3px solid var(--neon);
  transition: all 0.4s ease-in-out;
}

.block {
  display: block;
}

/*header */

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #efc98bb0, #779fa186), url(./assets/potterybanner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.heading_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

/*main*/

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoSection p {
  text-align: center;
  max-width: 60rem;
}

.infoCards {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoCard_icon {
  font-size: 4rem;
  color: var(--moonstone);
}

.infoCard p {
  max-width: 300px;
}

@media (max-width: 1078px) {
  .infoCards {
    flex-direction: column;
    align-items: center;
  }
  .infoCard {
    max-width: 320px;
  }
}

/*featured*/

.featuredEvents {
  background-color: var(--sunset);
  clip-path: polygon(0 9%, 100% 0, 100% 76%, 0 87%);
  padding-top: 20rem;
  padding-bottom: 40rem;
}

.featuredEventsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featuredCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: var(--br-1);
  min-width: 320px;
}

.featuredCard_img {
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.featuredCard_dateLocation {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin: 0.5rem 0;
}

.featuredCard_organizer,
.reviewInfo {
  color: rgb(143, 143, 143);
  text-transform: uppercase;
  font-family: 'gilroy-bold';
  margin-top: 2rem;
}

.icon_span {
  margin-right: 0.3rem;
  margin-top: 0.15rem;
}

@media (max-width: 1078px) {
  .featuredEventsCards {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .featuredEvents {
    padding-bottom: 60rem;
    padding-top: 30rem;
  }
  .featuredCard {
    max-width: 320px;
  }

  .featuredCard_img {
    width: 280px;
    margin: 0 auto;
  }
}

.featuredEventsContent h2 {
  text-align: center;
}

.featured_btn {
  text-align: center;
}

/*reviews*/

.reviewsSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewsSectionContent h2 {
  text-align: center;
}

.reviewInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.review {
  border-bottom: 1px solid var(--moonstone);
  padding: 0 3rem;
}

.reviewRating {
  margin-bottom: 2rem;
}

@media (max-width: 1078px) {
  .reviewsSection {
    margin-top: -15rem !important;
  }
}

/*footer*/
.footer {
  background-color: var(--moonstone);
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;
  bottom: 0;
}

.social_icons {
  font-size: 2.4rem;
  display: flex;
  gap: 0.5rem;
}

/*-------------------------------------------------*/
/*about page */

.aboutContainer {
  max-width: 100%;
}

.aboutText {
  background-color: var(--sunset);
  color: var(--white);
  padding: 5rem 4rem;
  border-radius: 0 0 0rem 20rem;
}

.aboutText p,
.aboutText h1 {
  max-width: 80%;
  margin: 0 auto;
}

.aboutText h1 {
  margin-bottom: 2rem;
}

.aboutHeading {
  font-size: 3rem;
  font-family: 'gilroy-bold';
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--white);
}

.teamCardImage img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.teamCard {
  padding: 2rem 4rem;
  margin: 3rem;
  box-shadow: var(--shadow);
  display: flex;
  gap: 3rem;
  align-items: center;
  max-width: 400px;
  min-width: 400px;
}

.teamCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutTeam h2 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/*all events page*/

.eventsContent {
  margin: 8rem 5rem;
}

.eventsContent h2 {
  margin-bottom: 3rem;
}

.allEventsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}

.featuredCard {
  max-width: 400px;
}

.eventPageDecorTop {
  background-color: var(--sunset);
  width: 900px;
  height: 900px;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  right: -10%;
  z-index: -1;
}

.eventPageDecorBottom {
  background-color: var(--sunset);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  bottom: -80%;
  left: -10%;
  z-index: -1;
}

/*event specific page*/

.eventContainer {
  margin: 8rem 5rem;
  display: flex;
  gap: 5rem;
  border-bottom: 1px solid var(--moonstone);
  border-top: 1px solid var(--moonstone);
  padding: 5rem 0;
}

.eventContainer img {
  width: 500px;
  height: 500px;
  border-radius: var(--br-1);
}

.eventInfo {
  flex-grow: 1;
}

.event_dateLocation {
  display: flex;
  color: var(--gray);
  margin: 0.5rem 0;
  gap: 2rem;
}

.eventBy {
  color: rgb(143, 143, 143);
  text-transform: uppercase;
  font-family: 'gilroy-bold';
  margin-top: 0.2rem;
}

.eventDescription,
.aboutOrganizer p {
  margin-top: 2rem;
  width: 90%;
}

.event_btns {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1078px) {
  .eventContainer {
    flex-direction: column;
    align-items: center;
  }
  .eventContainer img {
    width: 400px;
    height: 400px;
  }
}
